
#hide-menu-tab {
	position:absolute;
	top:5px;
	left:0px;
}

.enhanced-flatBG {
  background-color: rgba(224,224,224,1.00);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  margin-bottom: 30px;
}

hr.enhancedHr { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

.enhanced {
  background-image: url("../img/escheresque_ste_@2X.png");
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  margin-bottom: 30px;
}

.enhanced  p span label h1 h2 h3 h4 h5 h6  {
	color:#fff;
	font-family: 'Orbitron', sans-serif;
}

.enhanced .dataTables_info {
	color:#fff
}

.enhanced thead, tfoot {
	background-color: #fff
}

.enhanced-modal {
  background-color: rgba(233,242,251,0.75);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0,0,0,0.5);
  margin-bottom: 30px;
}

.even {
	background-color: #fff;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.leaderboard-cont label{
	color: #fff;
	font-weight: bold
}

.page-container {
	
}

.logo-image {
	display:block;
	margin:35px auto;
}

.tool-heading {
	cursor:pointer
}